@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Prompt:wght@300&display=swap');

:root {
  --Inter-font:  'Inter', sans-serif;
  --Archivo-font: 'Archivo', sans-serif;
  --text-XXL: 4.25rem;
  --text-body-l: 1.25rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 1vw;
}

body {
  background: #F1FAFF;
  color: #242424;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-XXL{
  font-family: var(--Inter-font);
  font-size: var(--text-XXL);
  line-height: 114%;
  letter-spacing: -.02em;
}
.text-body-l {
  font-family: var(--Inter-font);
  font-size: var(--text-body-l);
  line-height: 148%;
  letter-spacing: -.02em;
}
.alert {
  background: #F5F3F3;
  border-bottom: 1px solid #DCDCDC;
}
.heroImageLogo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.heroImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.CTA {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 10.8rem;
  background: #031D1E;
  color: #FFF;
  border-radius: .2rem;
  margin-right: 2rem;
}
.CTA.schedule{
  background: #FFF;
  color: #000;
  width: 17rem;
}
.logoContainer {
  padding-inline: .6rem;
  margin-inline: 1rem;
}
.logoContainer img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.active {
  height: 100%;
  transition: all .3s ease;
}
.inactive {
  height: 0;
}
.inactiveArrow {
  transform: rotate(270deg);
}
.form input {
  background: none;
}
.form label {
  display: block;
}



